
#appAdd {
        float:right;
}


.InfoCards {
    margin-left: 5%;
    margin-right: 5%;
}
.buttonClass {
    display:flex;
    flex-direction: row-reverse;
    margin-left: 80%;
}

.mat-toolbar {
    display: flex;
    justify-content: space-between;
   
}

button {
    margin-left: 10px;

}
body {
    background-color: lightgrey;
}

h1 {
   margin-right: 5%;
}
