
#appAdd {
        float:right;
}

.InfoCards {
    margin-left: 5%;
    margin-right: 5%;
}

.PastPlans {
    background-color: darkgrey;
}

.Panels {
    margin-left: 2%;
    margin-right: 2%;
}
.mat-action-row {
    position: absolute;
    left: 90%;
}
.buttonClass {
    background-color: red;
    display:flex;
    flex-direction: row-reverse;
    margin-left: 80%;
}

.mat-toolbar {
    display: flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index:1000;
   
}

button {
    margin-left: 10px;

}
body {
    background-color: lightgrey;
}

h1 {
   margin-right: 5%;
}
