<h2 mat-dialog-title>New Plan</h2>
<mat-dialog-content class="mat-typography">
  <div id ="makePlan">

    <form id="planForm" #userForm="ngForm" class="demo-inline-calendar-card      ">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar  [(selected)]="selected"></mat-calendar>
          </mat-card>
          <p>Selected date: {{selected}}</p>
          
          <p>Selected date: {{selected}}</p>
      <button mat-raised-button type="submit" color="primary" mat-dialog-close cdkFocusInitial>Submit</button>
    </form> 
</div>
</mat-dialog-content>