<h2 mat-dialog-title>Add Plan</h2>
<mat-dialog-content class="mat-typography">
    <div id ="AddButton">
      <form id="addForm" #addForm="ngForm" (ngSubmit)="onAdd(addForm.value)" >
          <div class="form-group">
              <label for="Title">Title:</label> 
                <input type="text" id="title"  name="title" placeholder="Title" class="form-control" ngModel/><br/>
            <label>Start:</label> &nbsp;
                <input matInput type="datetime-local" ngModel name="startTime"/> &nbsp;
            <label>End: </label> &nbsp;
                <input matInput type="datetime-local" ngModel name="endTime"/>
          </div>
           <div class="form-group">
              <label for="password">Description:</label> 
              <input type="text" id="password"  name="details" placeholder="Description" class="form-control" ngModel/><br/>
           </div>
           <button mat-raised-button color="primary" type="submit" >Add</button>
      </form> 
  </div>
  <p>{{error}}</p>
  </mat-dialog-content>