#signUpButton{
    margin-left:10px;
}

.SignUp {
   

   
 }
 
 .container{
 
     margin-top: 12%;    
  
 }
 .buttonClass {
     margin-left: 3px;
 }

 .mat-raised-button {
    color: rgb(255,215,64) !important;
  }

  .error {
      color: red;
  }
