
#signUpButton {
    display: inline-flex;
    margin-left: 20%;
}
#loginButton {
  display: inline-flex;
  margin-left: 30%;
  }
.SignUp {
   

   
 }
 
 .container{
 
     margin-top: 12%;    
  
 }
