#Login {
   margin-left: 20%;
   margin-right: 20%;
   background-color: lightgrey;
}

#loginError {
  color:red;
}


.logo {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

form {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
   text-align: center;
   background-color: rgb(103,58,183);
   color: rgb(255,215,64);
   border-width: 3px;
   border-color:rgb(80,30,100);
   border-style:solid;
}

body {
    background-color: darkgrey;
}

img {
  border-radius: 60px;
}