<body>
<div class="container">
    <img src="logo.png" alt=eventIt width="100" height="100">
    <h1>Welcome to Event It</h1>
    <div id="Login">
        <form #loginForm="ngForm" (ngSubmit) ="onLogin(loginForm.value)">
            <div class="form-group">
                <label for="uName">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email" class="form-control" [ngModel]/>
            </div>
            <div class="form-group">
                <label for="pWord">Password:</label>
                <input type="text" id="pWord" name="password" placeholder="Password" class="form-control" [ngModel]/>
            </div>
          <app-signup-dialog></app-signup-dialog>
          <p id="loginError">{{error}}</p>
            <br><br>
        </form>
    </div>
  
</div>
</body>
